<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mid_robot">
  <xacro:include filename="$(find abb_irb2600_12_185_support)/urdf/abb_irb2600_12_185.xacro"/>

  <xacro:abb_irb2600_12_185 prefix=""/>

  <link name="world" />

  <joint name="robot_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>